:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --first-background-color: #2F303A;
    --second-background-color: #F5F4FA;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
text-decoration: none;
}

/* Logo */
.logo {
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.web {
    color: var(--accent-color);
}

/* Site nav */
.site-nav a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .studio-page {
    color: var(--accent-color);
}

.site-nav .portfolio-page {
    color: var(--accent-color);
}

.contacts a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}

.contacts a:hover, .contacts a:focus {
color:var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--first-background-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/* Section */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Особенности */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.section-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Наша команда */

.team {
background-color: var(--second-background-color);
}

.teammember {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-role {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

/* Footer */

.footer {
    background-color: var(--first-background-color);
}
.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address {
font-style: normal;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
}
.footer-address {
color: #FFFFFF;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.portfolio-button {
    font-family: inherit;
    border: none;
    border-radius: 4px;
    background-color: var(--second-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-button:hover, .portfolio-button:focus {
font-family: inherit;
border: none;
border-radius: 4px;
background-color: var(--accent-color);
color: #FFFFFF;
cursor: pointer;
}

.portfolio-list  h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: center;
}

.portfolio-item-type {
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: center;
}